<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <img src="../../../assets/electricoss.webp" alt="img-avatar">
            <div class="perfil-usuario-avatar card-box">
                <img *ngIf="worker" [src]="'data:image/jpeg;base64,' + worker.image" alt="Imagen de Posting" class="card-img">
                <span *ngIf="worker?.subscription"></span>
              </div>
              
        </div>
    </div>
    <div class="perfil-usuario-body" data-aos="zoom-out" data-aos-duration="2000">
        <div class="perfil-usuario-bio">
          
            <h3 class="titulo" *ngIf="worker">{{worker.first_name}}  {{worker.last_name}}</h3>
            <p class="texto" *ngIf="worker"> {{worker.profile_description}}</p>
  
            <div class="estrellas-rating">
                <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" 
                      class="estrella"
                      [ngClass]="{
                        'filled': calificacionpromedio >= i + 1, 
                        'half-filled': calificacionpromedio > i && calificacionpromedio < i + 1
                      }">
                    &#9733;
                </span>
            </div>
            
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos" *ngIf="worker">
                <li><i class="icono fas fa-map-signs"></i> Rut: {{worker.rut}}</li>
                <li><i class="icono fas fa-phone-alt"></i> Telefono: {{worker.contact_number}}</li>
                <li><i class="icono fas fa-briefcase"></i> Especialidad: {{worker.specialty}}</li>
            </ul>
            
            <ul class="lista-datos" *ngIf="worker">
                <li><i class="icono fas fa-map-marker-alt"></i> Comuna: {{worker.location}}</li>
                <li><i class="icono fas fa-calendar-alt"></i> Cuenta creada el: {{worker.created_date | date: 'dd/MM/yyyy'}}</li>
                <li><i class="icono fas fa-inbox"></i> Email: {{worker.email}}</li>
            </ul>
  
        </div>
  
        <div class="redes-sociales" *ngIf="worker">
            <a href="https://www.facebook.com/" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
            <a [href]="'https://wa.me/+56' +  worker.contact_number" class="boton-redes whatsapp fab fa-whatsapp"><i class="icon-whatsapp"></i></a>
            <a href="https://www.instagram.com/" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
        </div>
        <!-- Nuevo div para comentarios -->


        <div class="comentarios-clientes" *ngIf="isClient" [ngClass]="{'fade-out': true, 'fade-out-active': fadeOut}">
            <div *ngIf="showThankYouMessage" >
              <p style="text-align: center;">Gracias por tu reseña.</p>
            </div>
            <div *ngIf="!showThankYouMessage">
              <h3>Deja un comentario</h3>
              <div class="estrellas-rating">
                <div class="calificacion-numerica"></div>
                <div class="estrellas">
                  <span *ngFor="let star of stars; let i = index" 
                        class="estrella"
                        (click)="rate(i + 1)"
                        [ngClass]="{'filled': rating >= i + 1, 'half-filled': rating > i && rating < i + 1}">
                    &#9733;
                  </span>
                </div>
              </div>
              <textarea class="campo-texto" [(ngModel)]="comment" placeholder="Escribe tu comentario aquí..."></textarea>
              <button type="button" class="boton-enviar" (click)="handleRating()">Enviar</button>
            </div>
          </div>
          


          

    </div>

</section>

<br>
<br>

<section class="perfil-usuario-ratings-section">
    <div class="perfil-usuario-ratings" *ngIf="ratings.length > 0">
        <h3>Calificaciones del Trabajador</h3>
        <ul>
            <li *ngFor="let rating of ratings">
                <div class="rating-container" data-aos="zoom-out" data-aos-duration="2000">
                    <div class="rating-header">
                        <span class="rating-stars">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <span [ngClass]="{'filled': i < rating.rating}">&#9733;</span>
                            </ng-container>
                        </span>
                    </div>
                    <div class="rating-body">
                        <p class="rating-comment">{{ rating.content }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <p style="text-align: center;" *ngIf="ratings.length == 0">No hay calificaciones disponibles para este trabajador.</p>
</section>

<br>
