<div class="main-content">
    <div class="profile-container">
        <div class="profile-header">
            <img class="profile-picture" src="" alt="Profile Picture">
            <div class="profile-info">
                <h2 class="profile-name">Nombre del Usuario</h2>
                <p class="profile-bio">Biografía del usuario...</p>
                <div class="contact-info">
                    <div class="contact-item">
                        <i class='bx bxl-whatsapp' ></i>
                    </div>
                    <div class="contact-item">
                        <i class='bx bxl-gmail' ></i>
                    </div>
                    <div class="contact-item">
                        <i class='bx bxl-instagram' ></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-details">
            <div class="basic-info">
                <h3>Información Básica</h3>
                <p><strong>Rut:</strong> 19.663.950-8</p>
                <p><strong>Numero de Telefono:</strong> + 56 9 87 88 16 66</p>
                <p><strong>Comuna:</strong> Maipu</p>
                <p><strong>Fecha de creacion:</strong> 12/03/2024</p>
            </div>
            <div class="posts">
                <h3>Publicaciones</h3>
                <div class="post-card">
                    <h4>Hola</h4>
                    <p>Adios</p>
                </div>
            </div>
        </div>
    </div>
  </div>