<div class="main-content">
    <div class="profile-container">
        <div class="profile-header">
            <img class="profile-picture" src="" alt="Profile Picture">
            <div class="profile-info">
                <h2 class="profile-name">Nombre del Usuario</h2>
                <p class="profile-bio">Biografía del usuario...</p>
            </div>
        </div>
        <div class="profile-details">
            <div class="basic-info">
                <h3>Información Básica</h3>
                <p><strong>Sexo:</strong> Masculino</p>
                <p><strong>Fecha de Nacimiento:</strong> 14 de mayo de 1984</p>
                <p><strong>Ciudad Actual:</strong> Palo Alto, California</p>
                <p><strong>Ciudad de Origen:</strong> Dobbs Ferry, Nueva York</p>
            </div>
            <div class="posts">
                <h3>Publicaciones</h3>
                <div class="post-card">
                    <h4>Hola</h4>
                    <p>Adios</p>
                </div>
            </div>
        </div>
    </div>
  </div>