.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#0604aa, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;
    /*
    background-image: url('http://localhost/multimedia/png/user-portada-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
}

.seccion-perfil-usuario .perfil-usuario-portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.perfil-usuario-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background: linear-gradient(45deg, #2d3bff, #40A7FF);
}

.seccion-perfil-usuario .boton-redes.whatsapp {
    background: linear-gradient(45deg, #2dff73, #0a6b46);
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}
.seccion-perfil-usuario .boton-redes.work {
    background: linear-gradient(45deg, #ff2d49, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}

.estrellas-rating {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: auto;
  }
  
  .calificacion-numerica {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .estrellas {
    display: flex;
    direction: ltr;
  }
  
  .estrella {
    color: #ccc;
    position: relative;
    display: inline-block;
    cursor: pointer; /* Asegúrate de que se pueda clickear */
  }
  
  .estrella.filled {
    color: gold;
  }
  
  .estrella.half-filled::before {
    content: '\2605';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
  }


  
  /* Crear publicaciones */
.crear-publicacion {
   display: flex;
   justify-content: center;
   margin-top: 1.5rem;
}

.boton-crear-publicacion {
    background-color: #4267B2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.boton-crear-publicacion i {
    margin-right: 0.5rem;
}

.modal-publicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.boton-publicar {
    background-color: #4267B2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.input-file-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boton-subir {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    text-align: center;
}

.boton-subir:hover {
    background-color: #45a049; /* Verde oscuro */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.boton-subir:active {
    background-color: #3e8e41;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2) inset;
}

.previsualizaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 10px;
    margin-top: 10px;
}

.previsualizacion-item {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.previsualizacion-item img, .previsualizacion-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton-eliminar {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* CSS para publicaciones */
.publicaciones {
    margin-top: 20px;
}

.publicacion {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.publicacion p {
    margin: 0 0 10px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.media img, .media video {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}




.fcrearpublicacion {
    width: 70%;
    max-width: 750px;
    margin: 1.5rem auto;
    padding: 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .file-list {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  .file-list span {
    flex-grow: 1;
  }
  
  .file-list button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .file-list button:hover {
    background-color: #ff1a1a;
  }
  
  
  
  .publicaciones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .publicacion {
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
  }
  
  .media {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .media img, .media video {
    max-width: 100%;
    border-radius: 10px;
  }

  /* Estilos para las tarjetas de publicaciones */
.posting-card {
    margin: 25px;
    border: 1px solid #ccd0d5;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: white;
  }
  
  .posting-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 300px;
  }
  
  .card-body {
    padding: 15px;
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 14px;
    color: #606770;
  }

  .posting-card {
    position: relative;
    margin: 1rem 0;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
  }
  
  .btn-update {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-update:hover {
    background-color: #0857ac;
  }
  
  .btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-delete:hover {
    background-color: darkred;
  }


  .subscription-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.subscription-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px;
  margin: 20px;
  border: 1px solid #000000;
}

.subscription-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.subscription-logo {
    max-width: 100px;
}

.subscription-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.subscription-price {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.subscription-features {
    list-style: none;
    margin-bottom: 20px;
}

.subscription-features li {
    margin: 10px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.subscribe-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.subscribe-button:hover {
  background-color: #0056b3;
}

.highlighted {
    border: 2px solid #007bff;
}

@media (max-width: 768px) {
    .subscription-card {
        max-width: 100%;
    }
}

.hidden {
  display: none;
}

.manage-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.manage-button:hover {
  background-color: #0056b3;
}

.manage-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.fcrearpublicacion {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease-in;
  opacity: 0;
}

.fcrearpublicacion.show {
  max-height: fit-content; /* Ajusta esto según el contenido máximo esperado */
  opacity: 1;
}

.fcrearpublicacion.hide {
  max-height: 0;
  opacity: 0;
}

.card-box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card-box span::before {
  content: 'Destacado';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #007bff 0%, #0056b3 51%, #003f7f 100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.show {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6C757D;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #3D4B81;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 1rem;
  color: #6C757D;
  margin-bottom: 0.5rem;
  display: block;
}

.form-group select, 
.form-group textarea, 
.form-group input[type="file"] {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #CED4DA;
  transition: all 0.3s;
}

.form-group select:focus, 
.form-group textarea:focus, 
.form-group input[type="file"]:focus {
  border-color: #6971E6;
  box-shadow: 0 0 0 0.2rem rgba(105, 113, 230, 0.25);
}

.file-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.file-list span {
  color: #6C757D;
}

.file-list button {
  background: none;
  border: none;
  color: #FF6B6B;
  cursor: pointer;
  transition: all 0.3s;
}

.file-list button:hover {
  color: #FF1C1C;
}

button[type="submit"] {
  background: #6971E6;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  width: 100%;
}

button[type="submit"]:hover {
  background: #3D4B81;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Responsive Design */
@media (max-width: 576px) {
  .modal-content {
      padding: 1rem;
  }

  h2 {
      font-size: 1.25rem;
  }

  button[type="submit"] {
      padding: 0.5rem 1rem;
  }
}

