<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>


  
  <section class="py-5">
    <div> 
      <h1 class="py-5 text-center nombret">Master Finder</h1>
    </div>
    <div class="container px-4 px-lg-5 mt-5 fondo1">
      <h1 class="text-center nombret">Publicaciones Destacadas</h1>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center container">
        <ng-container > <!-- *ngIf="publicaciones.length > 0; else noData"-->

          <div class="col mb-4"> <!-- *ngFor="let publicacion of publicaciones | slice:0:4" -->
            <div class="card">
              <div class="card-image-container card_box">
                <span></span>
                <img src="https://i.pinimg.com/originals/42/0d/23/420d23bab19e2cd7250ead22bfa3b129.png" alt="Pintor" class="img-fluid"><!--<img [src]="publicacion.image1" alt="imagen" class="img-fluid">-->
              </div>
                <p class="card-title">Nombredeoficio</p> <!--<p>Oficio: {{publicacion.oficio}}</p>--> 
                <p class="card-des"> <!--<p>{{publicacion.descripcion}}</p>-->
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam inventore
                  natus modi repellendus dolorem unde odio sequi! Porro, cum maiores tempore
                  suscipit laudantium perspiciatis, illo sunt, reprehenderit quae est
                  blanditiis.
                </p>
              <div class="card-footer text-center">
                <button class="btn btn-primary">Ver Publicación</button>
              </div>
            </div>
          </div>

          <div class="col mb-4"> <!-- *ngFor="let publicacion of publicaciones | slice:0:4" -->
            <div class="card">
              <div class="card-image-container card_box">
                <span></span>
                <img src="https://i.pinimg.com/originals/42/0d/23/420d23bab19e2cd7250ead22bfa3b129.png" alt="Pintor" class="img-fluid"><!--<img [src]="publicacion.image1" alt="imagen" class="img-fluid">-->
              </div>
                <p class="card-title">Nombredeoficio</p> <!--<p>Oficio: {{publicacion.oficio}}</p>--> 
                <p class="card-des"> <!--<p>{{publicacion.descripcion}}</p>-->
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam inventore
                  natus modi repellendus dolorem unde odio sequi! Porro, cum maiores tempore
                  suscipit laudantium perspiciatis, illo sunt, reprehenderit quae est
                  blanditiis.
                </p>
              <div class="card-footer text-center">
                <button class="btn btn-primary">Ver Publicación</button>
              </div>
            </div>
          </div>

          <div class="col mb-4"> <!-- *ngFor="let publicacion of publicaciones | slice:0:4"  -->
            <div class="card">
              <div class="card-image-container card_box">
                <span></span>
                <img src="https://i.pinimg.com/originals/42/0d/23/420d23bab19e2cd7250ead22bfa3b129.png" alt="Pintor" class="img-fluid"><!--<img [src]="publicacion.image1" alt="imagen" class="img-fluid">-->
              </div>
                <p class="card-title">Nombredeoficio</p> <!--<p>Oficio: {{publicacion.oficio}}</p>--> 
                <p class="card-des"> <!--<p>{{publicacion.descripcion}}</p>-->
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam inventore
                  natus modi repellendus dolorem unde odio sequi! Porro, cum maiores tempore
                  suscipit laudantium perspiciatis, illo sunt, reprehenderit quae est
                  blanditiis.
                </p>
              <div class="card-footer text-center">
                <button class="btn btn-primary">Ver Publicación</button>
              </div>
            </div>
          </div>

          <div class="col mb-4"> <!-- *ngFor="let publicacion of publicaciones | slice:0:4" -->
            <div class="card">
              <div class="card-image-container card_box">
                <span></span>
                <img src="https://i.pinimg.com/originals/42/0d/23/420d23bab19e2cd7250ead22bfa3b129.png" alt="Pintor" class="img-fluid"><!--<img [src]="publicacion.image1" alt="imagen" class="img-fluid">-->
              </div>
                <p class="card-title">Nombredeoficio</p> <!--<p>Oficio: {{publicacion.oficio}}</p>--> 
                <p class="card-des"> <!--<p>{{publicacion.descripcion}}</p>-->
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam inventore
                  natus modi repellendus dolorem unde odio sequi! Porro, cum maiores tempore
                  suscipit laudantium perspiciatis, illo sunt, reprehenderit quae est
                  blanditiis.
                </p>
              <div class="card-footer text-center">
                <button class="btn btn-primary">Ver Publicación</button>
              </div>
            </div>
          </div>

          
        </ng-container>
        <ng-template #noData>
          <p class="text-center">No hay publicaciones disponibles.</p>
        </ng-template>
      </div>
    </div>
  </section>
  
  <section >
    <div class="container contenedor">
      <div class="row justify-content-center">
        <div class="col-md-6 mb-4 mx-auto">
          <div class="carta">
            <div class="contenido">
              <p class="heading text-center">¿Quieres ofrecer tus servicios?</p>
              <p class="para">
                Llegaste al lugar ideal para promover tu talento, puedes publicar tus servicios para que las personas puedan contratarte,
                mirar tus trabajos y llegar a más personas que necesitan de tus capacidades. Registrate ya y comienza a ganar dinero con tus servicios.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4 mx-auto">
          <div class="carta">
            <div class="contenido">
              <p class="heading text-center">¿Quieres contratar servicios?</p>
              <p class="para">
                En master finder podras buscar los oficios que ya creias que no existian, busca por categoria, revisa trabajos realizados,
                califica & reseña a los trabajadores y principalmente contrata servicios enfocados a oficios que necesites.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fondo2">
    <div class="container">
      <h1 style="margin-top: 2em;" class="text-center nombret">Sobre Nosotros</h1>
      <div class="card-text">
        <div class="contenido">
          <p class="text-center texto fondo">Nuestra misión: Por un lado, fomentar y apoyar el trabajo de las personas que poseen un oficio, y por otro, ofrecer una plataforma eficiente y accesible que permita a los usuarios encontrar de manera fácil y rápida servicios especializados en diferentes oficios.
            Nos comprometemos a proporcionar las herramientas necesarias para que los profesionales de oficios puedan destacarse y crecer en sus campos. Queremos empoderar a estos trabajadores, brindándoles visibilidad y oportunidades para conectar con una amplia base de clientes que necesitan sus habilidades y conocimientos.
            Al mismo tiempo, nos dedicamos a simplificar la búsqueda de servicios para los usuarios. Nuestra plataforma está diseñada para ser intuitiva y de uso sencillo, garantizando que cualquier persona pueda localizar el servicio de oficio que requiere con rapidez y sin complicaciones. Creemos que facilitar este proceso no solo beneficia a los clientes, sino que también impulsa el crecimiento y la estabilidad de quienes practican estos oficios. 
            En resumen, nuestra misión es crear un puente efectivo entre la oferta y la demanda de servicios de oficio, promoviendo el desarrollo profesional y facilitando el acceso a soluciones prácticas y de calidad para todos.
          </p>
        </div>
      </div>
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>