<body>
  <!--    <h1>Login</h1>
    <form (ngSubmit)="login()">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
      
      <button type="submit">Login</button>
    </form>
    <button (click)="logout()">Logout</button> -->


  <div class="body">
    <div class="container" #container>
      <div class="form-container sign-up">
        <form (ngSubmit)="register()" #registerForm="ngForm">
          <h1>Create Account</h1>
          <input type="text" placeholder="Nombre" [(ngModel)]="newWorker.first_name" name="first_name" required>
          <input type="text" placeholder="Apellido" [(ngModel)]="newWorker.last_name" name="last_name" required>
          <input type="text" placeholder="Rut" [(ngModel)]="newWorker.rut" name="rut" required>
          <input type="text" placeholder="Telefono" [(ngModel)]="newWorker.contact_number" name="contact_number" required>
          <input type="email" placeholder="Email" [(ngModel)]="newWorker.email" name="email" required>
          <input type="password" placeholder="Password" [(ngModel)]="newWorker.password" name="password" required>
          <select [(ngModel)]="newWorker.location" name="location" required>
            <option value="Maipu">Maipu</option>
            <option value="Cerrillos">Cerrillos</option>
            <option value="Pudahuel">Pudahuel</option>
          </select>
          <select [(ngModel)]="newWorker.specialty" name="specialty" required>
            <option value="Electricista">Electricista</option>
            <option value="Zapatero">Zapatero</option>
            <option value="Albañil">Albañil</option>
          </select>
          <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
        </form>
      </div>

      <div class="form-container sign-in">
        <form (ngSubmit)="login()">
          <h1>Sign In</h1>
          <div class="social-icons">
            <a href="#" class="icon">
              <i class='bx bxl-google-plus'></i>
            </a>
            <a href="#" class="icon">
              <i class='bx bxl-facebook'></i>
            </a>
            <a href="#" class="icon">
              <i class='bx bxl-github'></i>
            </a>
            <a href="#" class="icon">
              <i class='bx bxl-linkedin-square'></i>
            </a>
          </div>
          <span>or use your email password</span>
          <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <a href="#">Forget Your Password?</a>
          <button type="submit" (click)="login()">Sign In</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Welcome Back!</h1>
            <p>Enter your personal details to use all of site features</p>
            <button class="hidden" (click)="onLogin()">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Hello, Friend!</h1>
            <p>Register with your personal details to use all of site features</p>
            <button class="hidden" (click)="onRegister()">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>