.container {
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  padding: 2rem;
  border-radius: 10px;
  max-width: 70%;
  margin: 0 auto;
}

.filter-section {
  margin-bottom: 2rem;
  text-align: center;
}

.accordion {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-button {
  background: #007bff;
  color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s ease;
}

.accordion-button:hover {
  background: #0056b3;
}

.accordion-content {
  display: none;
  padding: 1rem;
  background: #f9f9f9;
  max-height: 0; // Inicialmente no visible
  overflow: hidden;
  transition: max-height 0.8s ease-in-out; // Transición suave
}

.accordion-content.active {
  display: block;
  max-height: 500px; // Ajusta según el contenido máximo que pueda tener
}

.job-type-selector {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.postings-section {
  text-align: center;
}

.postings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.posting-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f9;
}

.posting-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background: linear-gradient(to left, #c9d6ff, #e2e2e2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Cambiado de center a stretch */
}

.card-img-top {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* Mantiene la proporción 1:1 para hacerla cuadrada */
  object-fit: cover; /* Asegura que la imagen se ajuste al cuadro sin recortes */
  object-position: center; /* Centra la imagen dentro del cuadro */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  padding: 0; /* Espaciado interno */
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  max-height: 10rem; /* Ajusta esta altura según el tamaño de la fuente y el espaciado */
  line-height: 1.5rem; /* Ajusta esta altura según el tamaño de la fuente */
}

@media (max-width: 768px) {
  .postings-grid {
    grid-template-columns: 1fr;
  }
}

.gradient-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
}

.gradient-text {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(70deg, #40B4E5 0.38%, #2b35ef 81.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
}

.carousel-container {
  position: relative;
  width: 70%;
  overflow: hidden;
  padding: 1rem;
  margin: auto;
}

.gradient-text-container {
  text-align: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel::before,
.carousel::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 2;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 auto;
  width: calc(100% / 4); /* Mostrar 4 tarjetas en pantallas grandes */
  width: 14rem; /* Ajusta según tus necesidades */
  height: 23rem;
  margin: 0 1.5rem;
  border: 2px solid gold; /* Borde dorado */
  border-radius: 10px;
  overflow: hidden;
}

.cardp {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex: 1;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.descriptionc {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limitar a 4 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 7rem; /* Ajusta esta altura según el tamaño de la fuente y el espaciado */
  line-height: 1.5rem; /* Ajusta esta altura según el tamaño de la fuente */
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.nav-button.left {
  left: 0;
}

.nav-button.right {
  right: 0;
}

@media (max-width: 768px) {
  .carousel-item {
    .carousel-inner {
      width: calc(100% / 2); /* Mostrar 2 tarjetas en pantallas pequeñas */
      height: fit-content;
    }
  }
}

.tcarrusel {
  text-align: center;
  font-size: 2.5rem; /* Aumenta el tamaño de la fuente */
  background: linear-gradient(70deg, #316fc7 0.38%, #a0c702 81.67%); /* Aplica el mismo gradiente que el texto */
  -webkit-background-clip: text;
  background-clip: text; /* Propiedad estándar */
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  animation: gradient-animation 3s ease infinite; /* Añade animación de gradiente */
}