

.container {
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  padding: 2rem;
  border-radius: 10px;
  max-width: 70%;
  margin: 0 auto;
}

.filter-section {
  margin-bottom: 2rem;
  text-align: center;
}

.accordion {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-button {
  background: #007bff;
  color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s ease;
}

.accordion-button:hover {
  background: #0056b3;
}

.accordion-content {
  display: none;
  padding: 1rem;
  background: #f9f9f9;
}

.accordion-content.active {
  display: block;
}

.job-type-selector {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.postings-section {
  text-align: center;
}

.postings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.posting-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background: linear-gradient(to left, #c9d6ff, #e2e2e2);
  font-family: 'Roboto', sans-serif;
}

.posting-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f9;
}

.posting-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posting-card .card-img-top {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* Mantiene la proporción 1:1 para hacerla cuadrada */
  object-fit: cover; /* Asegura que la imagen se ajuste al cuadro sin recortes */
  object-position: center; /* Centra la imagen dentro del cuadro */
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card-body p {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  max-height: calc(1rem * 7.8); /* Ajusta la altura máxima según el número de líneas y el tamaño de la fuente */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  padding: 0.75rem; /* Espaciado interno */

}

@media (max-width: 768px) {
  .postings-grid {
    grid-template-columns: 1fr;
  }
}

.gradient-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
}

.gradient-text {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(70deg, #40B4E5 0.38%, #2b35ef 81.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
}




.carousel-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: linear-gradient(to right, #c9d6ff, #e2e2e2);
  padding: 1px 80px; /* Reducción del alto con padding */
}

.carousel {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 25%; /* Ajuste del tamaño de las tarjetas */
  max-width: 35%;
  margin-left: 30px;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
}

.cardp {
  border: 3px solid #64dc01;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  text-align: center;
}

.cardp:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 50%; /* 2 tarjetas en pantallas pequeñas */
    max-width: 50%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .carousel-container {
    width: 90%;
  }
}



.tcarrusel {
  text-align: center;
  font-size: 2.5rem; /* Aumenta el tamaño de la fuente */
  background: linear-gradient(70deg, #316fc7 0.38%, #a0c702 81.67%); /* Aplica el mismo gradiente que el texto */
  -webkit-background-clip: text;
  background-clip: text; /* Propiedad estándar */
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  animation: gradient-animation 3s ease infinite; /* Añade animación de gradiente */
}