<body>
    <div class="body">
      <div class="container" #container>
        <div class="faq-container">
          <h1>Preguntas Frecuentes</h1>
          <div class="faq">
            <h3>¿Cómo me registro en la plataforma?</h3>
            <p>Para registrarte, haz clic en el botón "Registrarse" en la página de "Inicio de Sesion o Registro". Completa el formulario con los campos correspondientes y selecciona si eres un trabajador o un cliente.</p>
          </div>
          <div class="faq">
            <h3>¿Cómo puedo actualizar mi información de perfil?</h3>
            <p>Inicia sesión y ve a tu Perfil de Usuario. Haz clic en el icono "Configuración". Desde allí, puedes actualizar tu información personal.</p>
          </div>
          <div class="faq">
            <h3>¿Cómo contrato a un trabajador?</h3>
            <p>Encuentra el trabajador adecuado y ve a su perfil. En ese apartado encontraras las diferentes formas de ponerte en contacto con el.</p>
          </div>
          <div class="faq">
            <h3>¿Cómo dejo una reseña para un trabajador?</h3>
            <p>Después de que el servicio haya sido completado, ve a tu historial de contrataciones y selecciona el trabajo correspondiente. Haz clic en "Dejar Reseña", califica al trabajador y escribe tus comentarios.</p>
          </div>
          <div class="faq">
            <h3>¿Puedo editar una reseña que dejé?</h3>
            <p>Sí, puedes editar tu reseña dentro de las 48 horas después de haberla publicado. Ve a tu historial de contrataciones, selecciona la reseña y haz clic en "Editar Reseña"</p>
          </div>
          <!-- Agrega más preguntas según sea necesario -->
        </div>
    
        <div class="contact-container">
          <form>
            <h1>Contacto</h1>
            <input type="text" placeholder="Tu nombre">
            <input type="email" placeholder="Tu email">
            <textarea placeholder="Escribe tu mensaje aquí"></textarea>
            <button>Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </body>