<body>

    <div class="body">
      <div class="container" #container data-aos="zoom-out" data-aos-duration="2000">
        <div class="form-container sign-up">
          <form (ngSubmit)="register()" #registerForm="ngForm" >
            <h1>Crear Cuenta</h1>
            <input type="text" placeholder="Nombre" [(ngModel)]="newClient.first_name" name="first_name" required minlength="2" maxlength="30">
            <small *ngIf="registerForm.controls['first_name']?.errors?.['minlength'] || registerForm.controls['first_name']?.errors?.['maxlength']">El nombre debe tener entre 2 y 30 caracteres.</small>

            <input type="email" placeholder="Email" [(ngModel)]="newClient.email" name="email" required>
            <small *ngIf="registerForm.controls['email']?.errors?.['email']">Por favor ingresa un correo electrónico válido.</small>
  
            <input type="password" placeholder="Password" [(ngModel)]="newClient.password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}">
            <small *ngIf="registerForm.controls['password']?.errors?.['pattern']">La contraseña debe tener al menos 8 caracteres, 1 mayúscula y un símbolo.</small>

            <button type="submit" [disabled]="registerForm.invalid">Crear Cuenta</button>
          </form>
        </div>
  
        <div class="form-container sign-in">
          <form (ngSubmit)="login()">
            <h1>Iniciar Sesión</h1>
            <div class="social-icons">
              <a href="#" class="icon">
                <i class='bx bxl-google-plus'></i>
              </a>
              <a href="#" class="icon">
                <i class='bx bxl-facebook'></i>
              </a>
              <a href="#" class="icon">
                <i class='bx bxl-github'></i>
              </a>
              <a href="#" class="icon">
                <i class='bx bxl-linkedin-square'></i>
              </a>
            </div>
            <span>o ingresa con tu email y contraseña</span>
            <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
            <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
            <a (click)="resetPassword()" style="cursor: pointer;">Olvidaste tu contraseña?</a>
            <button type="submit">Iniciar Sesión</button>
          </form>
        </div>
        <div class="toggle-container">
          <div class="toggle">
            <div class="toggle-panel toggle-left">
              <h1>Bienvenido de nuevo!</h1>
              <p>Ingresa tus datos personales para usar todos los servicios del sitio</p>
              <button class="hidden" (click)="onLogin()">Iniciar Sesión</button>
            </div>
            <div class="toggle-panel toggle-right">
              <h1>Como cliente!</h1>
              <p>Regístrate con tus datos personales para usar todos los servicios del sitio</p>
              <button class="hidden" (click)="onRegister()">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </body>